<section class="banner-area relative about-banner heading">
  <div class="container my-5">
    <h1 class="main-head text-center my-3">Courses</h1>
    <div class="card my-5">
      <div class="row my-5">
        <div class="col-md-6">
          <div class="card-block my-5">
            <h1 class="card-title text-center mx-3 my-5">
              FULL-STACK APPLICATION DEVELOPER
            </h1>
            <p class="course-desc text-center mx-3">
              Learn new technologies that will help you to become the best
              full-stack application developer
            </p>

            <a href="#" class="btn1"><span>Read More </span></a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card-img-bottom"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- End banner Area -->

<app-course></app-course>
